<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Agregar un usuario</h2>

    <form action="/usuarios/crear" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre"><br>

        <label>Apellido:</label>
        <input type="text" name="apellido"><br>

        <label>Email:</label>
        <input type="email" name="email"><br>

        <label>Edad:</label>
        <input type="number" name="edad"><br>

        <input type="submit" value="Crear usuario">
    </form>
    
</body>
</html>