
h1 {
    color: rebeccapurple;
    font-size: 50px;
}

p {
    color: rgb(18, 219, 222);
    font-size: 50px;
    text-align: right;   
}

.mi-subtitulo {
    text-align: center;
}

#container {
    width: 300px;
    height: 300px;
}

#avatar {
    width: 150px;
    height: 150px;
}