<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>

<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>Evento</th>
                <th>Ubicación</th>
                <th>Fecha</th>
                <th>Publicado por</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.evento }}</td>
                <td>{{ evento.ubicacion }}</td>
                <td>{{ evento.fecha }}</td>
                <td>{{ evento.usuario_nombre }}</td>
                <td>
                    <a href="/ver/{{evento.id}}">Ver</a> |
                    <!-- TODO: implementar mostrar botones de editar y eliminar solo si el usuario de la sesion creo el evento -->
                    <a href="/editar/{{evento.id}}">Editar</a> |
                    <form action="/eliminar/{{evento.id}}" method="POST" style="display: inline;">
                        <input type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro?');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>