<!DOCTYPE html>
<html>
<head>
    <title>Registro e Inicio de Sesión</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/usuarios/registrar" method="POST">
        <input type="text" name="nombre" placeholder="Nombre"> <br>
        <input type="text" name="apellido" placeholder="Apellido"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="number" name="edad" placeholder="Edad"><br>
        <input type="password" name="password" placeholder="Contraseña"><br>
        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña"><br>
        <button type="submit">Registrarse</button>
    </form>
    
    <h1>Inicio de Sesión</h1>
    <form action="/usuarios/login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
    </form>
    
    <!-- Mensajes flash -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>